body {
    background-color: rgb(227, 234, 235);
    font-family: Arial, Helvetica, sans-serif;
  }
h1 {
    color: rgb(27, 27, 31);
  }

 .logo {
     display: flex;
     flex-direction: column;
     font-family: Sans-serif;
     width: 250px;
     font-size: 7px;
     text-align: center;
     background-color: aquamarine;

 }

 ul {
    list-style-type: none;
    font-size: 30px;
    line-height: 75px;
   }

.up, .down{
    display: flex;
}
.up img, .down img, .row {
    height: 500px;
    margin-top: 80px;
    margin-left: 30px;
}
a {
    color: hotpink;
    text-decoration: none;
  }